<h2 class="umd-type--display-1">Tabs</h2>
<div>
    <h3 class="umd-type--headline">Tab Bar</h3>
    <mda-tab-bar variant="primary">
        <mda-tab-label>Tab 1</mda-tab-label>
        <mda-tab-label>Tab 2</mda-tab-label>
        <mda-tab-label>Tab 3 with quite a long tab label, like seriously stupidly large</mda-tab-label>
    </mda-tab-bar>
    <br>
    <mda-tab-bar variant="accent">
        <mda-tab-label>Tab 1</mda-tab-label>
        <mda-tab-label>Tab 2</mda-tab-label>
        <mda-tab-label>Tab 3 with quite a long tab label, like seriously stupidly large</mda-tab-label>
    </mda-tab-bar>
    <br>
    <mda-toolbar flat variant="primary">
        <mda-tab-bar variant="on-primary">
            <mda-tab-label>Tab 1</mda-tab-label>
            <mda-tab-label>Tab 2</mda-tab-label>
            <mda-tab-label>Tab 3</mda-tab-label>
        </mda-tab-bar>
    </mda-toolbar>
    <br>
    <mda-toolbar flat variant="accent">
        <mda-tab-bar variant="on-accent">
            <mda-tab-label>Tab 1</mda-tab-label>
            <mda-tab-label>Tab 2</mda-tab-label>
            <mda-tab-label>Tab 3</mda-tab-label>
        </mda-tab-bar>
    </mda-toolbar>
</div>
