<h2 class="umd-type--display-1">Icons</h2>
<div>
    <h3 class="umd-type--headline">Regular</h3>
    <mda-icon>add</mda-icon>
    <mda-icon>send</mda-icon>
    <mda-icon noClearance>face</mda-icon>
    <mda-icon noClearance>create</mda-icon>
</div>
<div>
    <h3 class="umd-type--headline">Dense</h3>
    <mda-icon size="dense">add</mda-icon>
    <mda-icon size="dense">send</mda-icon>
    <mda-icon noClearance size="dense">face</mda-icon>
    <mda-icon noClearance size="dense">create</mda-icon>
</div>
