$umd-colors: (
    red: (
        50: #FFEBEE dark,
        100: #FFCDD2 dark,
        200: #EF9A9A dark,
        300: #E57373 dark,
        400: #EF5350 light,
        500: #F44336 light,
        600: #E53935 light,
        700: #D32F2F light,
        800: #C62828 light,
        900: #B71C1C light,
        A100: #FF8A80 dark,
        A200: #FF5252 light,
        A400: #FF1744 light,
        A700: #D50000 light,
    ),
    pink: (
        50: #FCE4EC dark,
        100: #F8BBD0 dark,
        200: #F48FB1 dark,
        300: #F06292 light,
        400: #EC407A light,
        500: #E91E63 light,
        600: #D81B60 light,
        700: #C2185B light,
        800: #AD1457 light,
        900: #880E4F light,
        A100: #FF80AB dark,
        A200: #FF4081 light,
        A400: #F50057 light,
        A700: #C51162 light,
    ),
    purple: (
        50: #F3E5F5 dark,
        100: #E1BEE7 dark,
        200: #CE93D8 dark,
        300: #BA68C8 light,
        400: #AB47BC light,
        500: #9C27B0 light,
        600: #8E24AA light,
        700: #7B1FA2 light,
        800: #6A1B9A light,
        900: #4A148C light,
        A100: #EA80FC dark,
        A200: #E040FB light,
        A400: #D500F9 light,
        A700: #AA00FF light,
    ),
    deep-purple: (
        50: #EDE7F6 dark,
        100: #D1C4E9 dark,
        200: #B39DDB dark,
        300: #9575CD light,
        400: #7E57C2 light,
        500: #673AB7 light,
        600: #5E35B1 light,
        700: #512DA8 light,
        800: #4527A0 light,
        900: #311B92 light,
        A100: #B388FF dark,
        A200: #7C4DFF light,
        A400: #651FFF light,
        A700: #6200EA light,
    ),
    indigo: (
        50: #E8EAF6 dark,
        100: #C5CAE9 dark,
        200: #9FA8DA dark,
        300: #7986CB light,
        400: #5C6BC0 light,
        500: #3F51B5 light,
        600: #3949AB light,
        700: #303F9F light,
        800: #283593 light,
        900: #1A237E light,
        A100: #8C9EFF dark,
        A200: #536DFE light,
        A400: #3D5AFE light,
        A700: #304FFE light,
    ),
    blue: (
        50: #E3F2FD dark,
        100: #BBDEFB dark,
        200: #90CAF9 dark,
        300: #64B5F6 dark,
        400: #42A5F5 dark,
        500: #2196F3 light,
        600: #1E88E5 light,
        700: #1976D2 light,
        800: #1565C0 light,
        900: #0D47A1 light,
        A100: #82B1FF dark,
        A200: #448AFF light,
        A400: #2979FF light,
        A700: #2962FF light,
    ),
    light-blue: (
        50: #E1F5FE dark,
        100: #B3E5FC dark,
        200: #81D4FA dark,
        300: #4FC3F7 dark,
        400: #29B6F6 dark,
        500: #03A9F4 dark,
        600: #039BE5 light,
        700: #0288D1 light,
        800: #0277BD light,
        900: #01579B light,
        A100: #80D8FF dark,
        A200: #40C4FF dark,
        A400: #00B0FF dark,
        A700: #0091EA light,
    ),
    cyan: (
        50: #E0F7FA dark,
        100: #B2EBF2 dark,
        200: #80DEEA dark,
        300: #4DD0E1 dark,
        400: #26C6DA dark,
        500: #00BCD4 dark,
        600: #00ACC1 dark,
        700: #0097A7 light,
        800: #00838F light,
        900: #006064 light,
        A100: #84FFFF dark,
        A200: #18FFFF dark,
        A400: #00E5FF dark,
        A700: #00B8D4 dark,
    ),
    teal: (
        50: #E0F2F1 dark,
        100: #B2DFDB dark,
        200: #80CBC4 dark,
        300: #4DB6AC dark,
        400: #26A69A dark,
        500: #009688 light,
        600: #00897B light,
        700: #00796B light,
        800: #00695C light,
        900: #004D40 light,
        A100: #A7FFEB dark,
        A200: #64FFDA dark,
        A400: #1DE9B6 dark,
        A700: #00BFA5 dark,
    ),
    green: (
        50: #E8F5E9 dark,
        100: #C8E6C9 dark,
        200: #A5D6A7 dark,
        300: #81C784 dark,
        400: #66BB6A dark,
        500: #4CAF50 dark,
        600: #43A047 light,
        700: #388E3C light,
        800: #2E7D32 light,
        900: #1B5E20 light,
        A100: #B9F6CA dark,
        A200: #69F0AE dark,
        A400: #00E676 dark,
        A700: #00C853 dark,
    ),
    light-green: (
        50: #F1F8E9 dark,
        100: #DCEDC8 dark,
        200: #C5E1A5 dark,
        300: #AED581 dark,
        400: #9CCC65 dark,
        500: #8BC34A dark,
        600: #7CB342 dark,
        700: #689F38 light,
        800: #558B2F light,
        900: #33691E light,
        A100: #CCFF90 dark,
        A200: #B2FF59 dark,
        A400: #76FF03 dark,
        A700: #64DD17 dark,
    ),
    lime: (
        50: #F9FBE7 dark,
        100: #F0F4C3 dark,
        200: #E6EE9C dark,
        300: #DCE775 dark,
        400: #D4E157 dark,
        500: #CDDC39 dark,
        600: #C0CA33 dark,
        700: #AFB42B dark,
        800: #9E9D24 dark,
        900: #827717 light,
        A100: #F4FF81 dark,
        A200: #EEFF41 dark,
        A400: #C6FF00 dark,
        A700: #AEEA00 dark,
    ),
    yellow: (
        50: #FFFDE7 dark,
        100: #FFF9C4 dark,
        200: #FFF59D dark,
        300: #FFF176 dark,
        400: #FFEE58 dark,
        500: #FFEB3B dark,
        600: #FDD835 dark,
        700: #FBC02D dark,
        800: #F9A825 dark,
        900: #F57F17 dark,
        A100: #FFFF8D dark,
        A200: #FFFF00 dark,
        A400: #FFEA00 dark,
        A700: #FFD600 dark,
    ),
    amber: (
        50: #FFF8E1 dark,
        100: #FFECB3 dark,
        200: #FFE082 dark,
        300: #FFD54F dark,
        400: #FFCA28 dark,
        500: #FFC107 dark,
        600: #FFB300 dark,
        700: #FFA000 dark,
        800: #FF8F00 dark,
        900: #FF6F00 dark,
        A100: #FFE57F dark,
        A200: #FFD740 dark,
        A400: #FFC400 dark,
        A700: #FFAB00 dark,
    ),
    orange: (
        50: #FFF3E0 dark,
        100: #FFE0B2 dark,
        200: #FFCC80 dark,
        300: #FFB74D dark,
        400: #FFA726 dark,
        500: #FF9800 dark,
        600: #FB8C00 dark,
        700: #F57C00 dark,
        800: #EF6C00 light,
        900: #E65100 light,
        A100: #FFD180 dark,
        A200: #FFAB40 dark,
        A400: #FF9100 dark,
        A700: #FF6D00 dark,
    ),
    deep-orange: (
        50: #FBE9E7 dark,
        100: #FFCCBC dark,
        200: #FFAB91 dark,
        300: #FF8A65 dark,
        400: #FF7043 dark,
        500: #FF5722 light,
        600: #F4511E light,
        700: #E64A19 light,
        800: #D84315 light,
        900: #BF360C light,
        A100: #FF9E80 dark,
        A200: #FF6E40 dark,
        A400: #FF3D00 light,
        A700: #DD2C00 light,
    ),
    brown: (
        50: #EFEBE9 dark,
        100: #D7CCC8 dark,
        200: #BCAAA4 dark,
        300: #A1887F light,
        400: #8D6E63 light,
        500: #795548 light,
        600: #6D4C41 light,
        700: #5D4037 light,
        800: #4E342E light,
        900: #3E2723 light,
    ),
    grey: (
        50: #FAFAFA dark,
        100: #F5F5F5 dark,
        200: #EEEEEE dark,
        300: #E0E0E0 dark,
        400: #BDBDBD dark,
        500: #9E9E9E dark,
        600: #757575 light,
        700: #616161 light,
        800: #424242 light,
        900: #212121 light,
    ),
    blue-grey: (
        50: #ECEFF1 dark,
        100: #CFD8DC dark,
        200: #B0BEC5 dark,
        300: #90A4AE dark,
        400: #78909C light,
        500: #607D8B light,
        600: #546E7A light,
        700: #455A64 light,
        800: #37474F light,
        900: #263238 light,
    ),
);

$umd-text-colors: (
    light: white,
    dark: rgba(0, 0, 0, .87),
);

@function umd-color-raw($name, $variant: 500) {
    $palette: umd-palette($name);
    @if map-has-key($palette, $variant) {
        @return map-get($palette, $variant);
    }

    @error "Invalid color variant `#{$name}`. Available variants are: #{map-keys($palette)}";
}

@function umd-color($name, $variant: 500) {
    @return nth(umd-color-raw(name, variant), 1);
}

@function umd-text-color($name, $variant: 500) {
    @return map-get($umd-text-colors, nth(umd-color-raw(name, variant), 2));
}

@function umd-palette($name) {
    @if map-has-key($umd-colors, $name) {
        @return map-get($umd-colors, $name);
    }

    @error "Invalid color palette `#{$name}`. Available palettes are: #{map-keys($umd-colors)}";
}
