<h2 class="umd-type--display-1">Buttons</h2>
<div>
    <h3 class="umd-type--headline">Primary</h3>
    <button mdaRaisedButton>Primary button</button>
    <button mdaRaisedButton mdaVariant="primary">Primary button</button>
    <button mdaRaisedButton mdaVariant="accent">Primary button</button>
    <button mdaRaisedButton disabled>Primary button</button>
</div>
<div>
    <h3 class="umd-type--headline">Dense</h3>
    <button mdaRaisedButton dense>Dense button</button>
    <button mdaRaisedButton dense mdaVariant="primary">Dense button</button>
    <button mdaRaisedButton dense mdaVariant="accent">Dense button</button>
    <button mdaRaisedButton dense disabled>Dense button</button>
</div>
<div>
    <h3 class="umd-type--headline">Flat</h3>
    <button mdaButton>Flat button</button>
    <button mdaButton mdaVariant="primary">Flat button</button>
    <button mdaButton mdaVariant="accent">Flat button</button>
    <button mdaButton disabled>Flat button</button>
</div>
<div>
    <h3 class="umd-type--headline">Icon</h3>
    <div>
        <button mdaRaisedButton icon><mda-icon>add</mda-icon></button>
        <button mdaRaisedButton icon mdaVariant="primary"><mda-icon>send</mda-icon></button>
        <button mdaRaisedButton icon mdaVariant="accent"><mda-icon>edit</mda-icon></button>
        <button mdaRaisedButton icon disabled><mda-icon>more_vert</mda-icon></button>
    </div>
    <div>
        <button mdaButton icon><mda-icon>add</mda-icon></button>
        <button mdaButton icon mdaVariant="primary"><mda-icon>send</mda-icon></button>
        <button mdaButton icon mdaVariant="accent"><mda-icon>edit</mda-icon></button>
        <button mdaButton icon disabled><mda-icon>more_vert</mda-icon></button>
    </div>
</div>
