<h2 class="umd-type--display-1">Menus</h2>
<div>
    <button mdaRaisedButton [mdaMenuTrigger]="menuTopLeft">Top Left</button>
    <mda-menu #menuTopLeft="mdaMenu">
        <mda-menu-item>Item 1</mda-menu-item>
        <mda-menu-item>Item 2</mda-menu-item>
        <mda-menu-item>Item 3</mda-menu-item>
    </mda-menu>

    <button mdaRaisedButton [mdaMenuTrigger]="menuTopRight">Top Right</button>
    <mda-menu #menuTopRight="mdaMenu" position="top right">
        <mda-menu-item>Item 1</mda-menu-item>
        <mda-menu-item>Item 2</mda-menu-item>
        <mda-menu-item>Item 3</mda-menu-item>
    </mda-menu>

    <button mdaRaisedButton [mdaMenuTrigger]="menuBottomLeft">Bottom Left</button>
    <mda-menu #menuBottomLeft="mdaMenu" position="bottom left">
        <mda-menu-item>Item 1</mda-menu-item>
        <mda-menu-item>Item 2</mda-menu-item>
        <mda-menu-item>Item 3</mda-menu-item>
    </mda-menu>

    <button mdaRaisedButton [mdaMenuTrigger]="menuBottomRight">Bottom Right</button>
    <mda-menu #menuBottomRight="mdaMenu" position="bottom right">
        <mda-menu-item>Item 1</mda-menu-item>
        <mda-menu-item>Item 2</mda-menu-item>
        <mda-menu-item>Item 3</mda-menu-item>
    </mda-menu>
</div>
