@import '../core/variables';
@import '../core/motion';
@import '../core/elevation';

.umd-textfield {
    position: relative;
    display: block;
    height: 72px;

    &__label {
        display: block;
        font-size: 16px;
        color: rgba(0, 0, 0, .38);

        position: absolute;
        top: 36px;
        left: 0;
        right: 0;
        pointer-events: none;

        transform: translateY(0) scale(1);
        transform-origin: left;
        transition: transform $umd-motion--ease-in-out 0.2s,
            color $umd-motion--ease-in-out 0.2s;

        &--floating {
            transform: translateY(-22px) scale(0.75);
        }
    }

    &__input {
        display: block;
        background: transparent;
        border: 0;
        font-size: 16px;
        width: 100%;
        color: rgba(0, 0, 0, .87);

        position: relative;
        top: 38px;

        &:focus {
            outline: 0;
        }
    }

    &__underline {
        display: block;
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .15);

        &::after {
            content: '';
            display: block;
            position: relative;
            top: 2px;
            height: 2px;
            background: $umd-color-primary;
            opacity: 0;
            transition: opacity $umd-motion--ease-in-out 0.2s;
        }
    }

    &:hover {
        .umd-textfield__label {
            color: rgba(0, 0, 0, .54);
        }
    }

    &--focused {
        .umd-textfield__label {
            color: $umd-color-primary !important;
        }

        .umd-textfield__underline {
            &::after {
                opacity: 1;
            }
        }
    }

    &--disabled {
        pointer-events: none;

        .umd-textfield__input {
            color: rgba(0, 0, 0, .38);
        }

        .umd-textfield__underline {
            border-bottom-style: dashed;
        }
    }
}
