@import '../core/variables';
@import '../core/motion';
@import '../core/elevation';

$umd-toolbar-height--app: 64px !default;
$umd-toolbar-side-padding: 24px !default;

.umd-toolbar {
    display: block;

    &--app {
        @include umd-elevation(4);

        height: $umd-toolbar-height--app;
        line-height: $umd-toolbar-height--app;

        padding: 0 $umd-toolbar-side-padding;

        font-family: $umd-font-family;
        font-size: 20px;
        font-weight: 500;
    }
}
