<h2 class="umd-type--display-1">Cards</h2>
<div>
    <h3 class="umd-type--headline">Simple</h3>
    <mda-card>
        <mda-card-title>Title goes here</mda-card-title>
        <mda-card-subtitle>Subtitle here</mda-card-subtitle>
        <mda-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et nisl sit amet tellus fermentum iaculis.</mda-card-text>
    </mda-card>
</div>
<div>
    <h3 class="umd-type--headline">Full Width</h3>
    <mda-card fill>
        <mda-card-title>Title goes here</mda-card-title>
        <mda-card-subtitle>Subtitle here</mda-card-subtitle>
        <mda-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et nisl sit amet tellus fermentum iaculis.</mda-card-text>
    </mda-card>
</div>
<div>
    <h3 class="umd-type--headline">Header</h3>
    <mda-card>
        <mda-card-header avatar="http://placehold.it/128x128" title="Title" subtitle="Subhead"></mda-card-header>
        <mda-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et nisl sit amet tellus fermentum iaculis.</mda-card-text>
    </mda-card>
</div>
<div>
    <h3 class="umd-type--headline">Actions</h3>
    <div style="display: flex; align-items: flex-start;">
        <mda-card style="margin-right: 16px;">
            <mda-card-title>Title goes here</mda-card-title>
            <mda-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et nisl sit amet tellus fermentum iaculis.</mda-card-text>
            <mda-card-actions>
                <button mdaButton>Action 1</button>
                <button mdaButton>Action 2</button>
            </mda-card-actions>
        </mda-card>
        <mda-card>
            <mda-card-title>Title goes here</mda-card-title>
            <mda-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et nisl sit amet tellus fermentum iaculis.</mda-card-text>
            <mda-card-actions vertical>
                <button mdaButton>Action 1</button>
                <button mdaButton>Action 2</button>
            </mda-card-actions>
        </mda-card>
    </div>
</div>
<div>
    <h3 class="umd-type--headline">Media</h3>
    <mda-card>
        <mda-card-media>
            <img src="http://placehold.it/640x360">
        </mda-card-media>
        <mda-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et nisl sit amet tellus fermentum iaculis.</mda-card-text>
    </mda-card>
</div>
<div>
    <h3 class="umd-type--headline">Media Area</h3>
    <mda-card>
        <mda-card-media-area>
            <img media src="http://placehold.it/120x120">
            <mda-card-title>Title here</mda-card-title>
            <mda-card-subtitle>Subtitle here</mda-card-subtitle>
        </mda-card-media-area>
        <mda-card-actions>
            <button mdaButton>Action 1</button>
            <button mdaButton>Action 2</button>
        </mda-card-actions>
    </mda-card>
</div>
