@import '../../../styles/core/motion';

.code-example {
    .umd-toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .code-section {
        background: #1E1E1E;

        .umd-tab-bar {
            padding-left: 16px;

            &::after {
                background: rgba(255, 255, 255, .2);
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
            }
        }
    }

    code pre {
        color: white;
        font-family: 'Roboto Mono', monospace;
        padding: 16px;
        margin: 0;
    }
}

.hljs-keyword, .hljs-name {
    color: #3F9CD6;
}

.hljs-tag {
    color: #798080;
}

.hljs-attr {
    color: #9CDCFE;
}

.hljs-string {
    color: #C88975;
}

.hljs-number {
    color: #B5CEA8;
}

.hljs-title {
    color: #DCDCAA;
}
