<mda-toolbar variant="primary">Angular Material Design</mda-toolbar>
<mda-content>
    <p>A set of components for Angular that conform to the material design guidlines.</p>
    <button-demo></button-demo>
    <card-demo></card-demo>
    <chip-demo></chip-demo>
    <dialog-demo></dialog-demo>
    <icon-demo></icon-demo>
    <menu-demo></menu-demo>
    <ripple-demo></ripple-demo>
    <tab-demo></tab-demo>
    <textfield-demo></textfield-demo>
    <toolbar-demo></toolbar-demo>
    <typography-demo></typography-demo>
</mda-content>
