@import '../core/motion';

$umd-tab-label--height: 48px;

.umd-tab-bar {
    display: flex;
    position: relative;

    width: 100%;
    height: $umd-tab-label--height;

    &__underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 1px;
        transform: scale(0);
        transform-origin: left;

        will-change: transform;
        transition: 250ms transform $umd-motion--ease-out;
    }
}

.umd-tab-label {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 24px;
    line-height: 16px;
    min-width: 140px;
    box-sizing: border-box;
    max-width: 264px;
    cursor: pointer;

    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
