@import './utils';

@mixin button-theme($theme) {
    .umd-button {
        color: umd-theme-color($theme, text, primary);

        &__inner {
             background: umd-theme-color($theme, standard, 300);
        }

        &--flat {
            color: umd-theme-color($theme, text, primary);
        }

        &--disabled {
            color: umd-theme-color($theme, text, disabled);
        }

        &:not(.umd-button--flat) {
            &.umd-button--disabled .umd-button__inner {
                background: umd-theme-color($theme, standard, 300);
            }
        }

        .umd-ripple {
            background: rgba(umd-theme-color($theme, text, primary), 0.2);
        }
    }

    @include umd-button-variant(
        'primary',
        umd-theme-color($theme, primary, 500, true),
        umd-theme-color($theme, primary, 500)
    );

    @include umd-button-variant(
        'accent',
        umd-theme-color($theme, accent, A400, true),
        umd-theme-color($theme, accent, A400)
    );
}

@mixin umd-button-variant($name, $text, $background) {
    .umd-button[data-umd-variant=#{$name}]:not(.umd-button--disabled) {
        &:not(.umd-button--flat) {
            color: $text;

            .umd-button__inner {
                background: $background;
            }

            .umd-ripple {
                background: rgba($text, 0.2);
            }
        }

        &.umd-button--flat {
            color: $background;

            .umd-ripple {
                background: rgba($background, 0.2);
            }
        }
    }
}
